<div *ngIf="b">
<md-grid-list cols="3" rowHeight="1:0.9" >
<div *ngFor="let movie of b">
<md-grid-tile class="grid">
 <md-card class="card1">
  <md-card-header>
    
    <md-card-title><strong>Title:</strong> {{movie.Title}}</md-card-title>
    <md-card-subtitle><strong>Year:</strong>{{movie.Year}}</md-card-subtitle>
  </md-card-header>
  <img md-card-image class="poster-image" [src]="'http://image.tmdb.org/t/p/w92' + movie.Poster">
    <md-card-actions class="cardAction">
    <button md-button class="button" (click)="updateMovie(movie,description.value)">Update</button>
    <button md-button class="button" (click)="deleteMovie(movie.imdbID)">Delete</button>
  </md-card-actions>


<md-input-container class="example-full-width">
    <input mdInput #description placeholder="enter your description" value="{{movie.Description}}">
  </md-input-container>
      <br/>
<!-- <span class="glyphicon glyphicon-star" ></span>{{movie.popularity}} -->
</md-card>
</md-grid-tile>
</div>
